<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:py="http://genshi.edgewall.org/">
  <head>
    <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
    <title>The Toronto Star | ${date} | ${category.name}</title>
    <link rel="stylesheet" href="main.css" type="text/css" />
  </head>
  <body>
      <h1>The Toronto Star | ${date}</h1>
      <h2>${category.name}</h2>
      <ul>
        <py:for each="_, out_file, article in category.iter_articles()">
          <li><a href="${article.token}.html">${article.get_title()}</a></li>
        </py:for>
      </ul>
  </body>
</html>
